.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: white !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #d4d4d4 !important;
}

.nav-link.active {
  text-decoration: underline;
  font-weight: bold;
  color: #ffc107 !important;
}

html {
  scroll-behavior: smooth;
}
